.container{
    width: 300px;
    background-color: hsla(231, 12%, 12%, 1);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 15px 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    gap: 8px;
    padding: 24px 34px;
}

.footerContainer {
    padding: 19.5px 72.5px;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: #161619;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
    color: hsla(0, 0%, 100%, 1);
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

p {
    font-weight: 400;
    font-size: 10.24px;
}

.imgContainer{
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    border-radius: 6px;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: hsla(212, 72%, 60%, 1);
    font-weight: 500;
}

.buttons.change {
    background-color: rgb(51, 111, 180);
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}