.container{
    width: 300px;
    background-color: hsla(231, 12%, 12%, 1);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 15px 0;
    /* color: hsla(0, 0%, 100%, 1); */
}

.mainContainer {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    gap: 8px;
    padding: 24px 34px 0 34px;
    color: hsla(0, 0%, 100%, 1);
}

.footerContainer {
    padding: 10px 72.5px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switch{
    display: grid;
    place-content: center;
    padding: 5px 0 10px 0;
}

#dark{
    background-color: hsla(231, 12%, 12%, 1);
    transition: all .3s;
}

#dark .footerContainer {
    background-color: #161619;
    transition: all .3s;
}

#dark .nameContainer,
#dark .mainContainer {
    color: hsla(0, 0%, 100%, 1);
    transition: all .3s;
}

#light{
    background-color: #f4f4f4;
    transition: all .3s;
}

#light .footerContainer {
    background-color: #D5D4D8;
    transition: all .3s;
}

#light .nameContainer,
#light .mainContainer {
    color: black;
    transition: all .3s;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
    /* color: hsla(0, 0%, 100%, 1); */
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

p {
    font-weight: 400;
    font-size: 10.24px;
}

.imgContainer{
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    border-radius: 6px;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* background-color: rgb(255, 255, 255); */
    font-weight: 500;
}


.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.socials{
    width: 25px;
    height: 25px;
    transition: all .3s;
}

.socials:hover{
    border-radius: 3px 3px;
    background-color: #ffffffe1;
    box-shadow: 0 0 11px #ffffff;
    cursor: pointer;
}